[package]
name = "fv1-asm"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
logos = "0.14"
thiserror = "1.0"
miette = { version = "7.0", features = ["fancy"] }
